.headerBack{
    position: relative;
    width: 75rem;
    min-height: 51.4rem;
    margin: 0 auto;
}

.home{
    position: absolute;
    top: 1.6rem;
    left: -19.5rem;
    z-index: 1;
    background-color: transparent;
}
.headerDiv{
    margin: 0 auto;
    width: 75rem;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-top: 16rem;
    position: absolute;
    margin-bottom: 19rem;
    z-index: 1;
    background-color: transparent;
}
.logoText, .moveLogo{
    width: 35rem;
}

@media screen and (max-width: 480px) {
    .headerBack{
        width: 30rem;
        min-height: 29rem;
    }
    .home{
        top: 24px;
        left: 34%;
        width: 9rem;
    }
    .headerDiv{
        margin: 5.5rem 1rem;
        width: 27rem;
        display: flex;
        flex-direction: column;
    }
    .left{
        width: 100%;
        text-align: left;
    }
    .right{
        width: 100%;
        text-align: right;
    }
    .logoText{
        width: 22rem;
    }
    .moveLogo{
        width: 13rem;
    }
}