@font-face {
  font-family: "pretendard";
  src: url(/public/font/Pretendard-Regular.otf);
}
@font-face {
  font-family: "jost";
  src: url(/public/font/Jost-900-Black.ttf);
}
body{
  margin: 0;
  height: 100%;
}

.App{
  background-image: url(/public/img/background.png);
  background-attachment: fixed;
  margin: 0 auto;
  width: 100%;
}
.adiotInfo{
  background-color: white;
}

@media screen and (max-width: 480px) {
  .App{
    background-image: url(/public/img/mobileBack.png);
  }
}

